.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.main-card {
  height: 800px;
  width: 320px;
  position: absolute;
  align-self: center;
  display: flex;
  flex-flow: column;
  margin-top: 20px;
  margin-bottom: 100px;
  border-radius: 10px;
  overflow: hidden;
}

.info-container {
  flex: 5;
  background-color: #1A1B21;
  text-align: center;
}

.profile-photo {
  width: 320px;
  height: 320px;
  background-image: url('./assets/img/profile-photo.jpg');
  background-position: center 100%;
  background-repeat: no-repeat;

}

.info-container>h1 {
  color: #fff;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 6px;
}

.info-container>p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12.8px;
  text-align: center;
  color: #F3BF99;
  margin-top: 0px;
  margin-bottom: 0px;
}

.info-container>a {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  color: #F5F5F5;
  text-decoration: none;
  margin-top: 8px;
  margin-bottom: 0px;
}

.contact-buttons-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15px;
}

.email-button,
.linkedin-button {
  width: 115px;
  height: 34px;
  border-radius: 6px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 15px center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  padding-left: 25px;
}

.email-button {
  background-image: url('./assets/img/email-icon.png');
  justify-content: 110px;
}

.linkedin-button {
  background-image: url('./assets/img/linkedin-icon.png');
  background-color: #5093E2;
  color: white;
}

.about-container {
  flex: 6;
  background-color: #1A1B21;
  text-align: left;
  padding: 0px 35px;
  padding-top: 30px;

}
.about-container>h1{
  margin: 0px;
  font-family: "Inter";
  color: #F5F5F5;
  font-weight: bold;
  font-size: 16px;
  padding: 0px;
}
.about-container > p{
  margin-top: 5px;
  margin-bottom: 20px;
  color: #F5F5F5;
  font-family: "Inter";
  font-size: 12px;
  font-weight: 200;
  letter-spacing: 1px;

}
.footer-container {
  flex: 1;
  background-color: #161619;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: baseline;
  padding: 5px 75px;
}
.footer-logo{
  width: 25px;
  height: 25px;
  vertical-align: baseline;
  align-self: center;
  cursor: pointer;
}